body{
	color:black;
	background-color:green;
	font-weight: bold;
}

#wrapper{
	width: 75%;
	height: 100%;
	margin: auto;
	background-color:white;
}

#header{
	height:50px;
	text-align: center;
	vertical-align: middle;
	background-color: red;
}

#firstNav{
	padding-top: 10px;
	height:50px;
	background-color: pink;
	width: 30%;
	float: left;
}

#secondNav{
	padding-top: 10px;
	height:50px;
	background-color: orange;
	width: 70%
	float: left;
}

#leftbody{
	width: 100%;
	height: 500px;
	background-color:blue;
}

#bottom{
	height:50px;
	clear:both;
	background-color: yellow;
}
